@import "../../index.scss";
.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(39, 37, 44);
    //height: 19em;
    // background: url("../../Assets/Footer2.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    .container {
        .row {
            .col {
                .footerBrand {
                    width: 8em;
                    margin-left: -2em;
                    margin-top: 4em;
                    margin-bottom: 2em;
                }
                h1 {
                    color: $white;
                    font-family: $secondary-font;
                }
            }
            .col {
                .morganFreeman {
                    width: 29em;
                    margin-top: 4em;
                    float: right;
                }
                .guyPearce {
                    width: 29em;
                    margin-top: 4em;
                    float: right;
                }
                .footerText {
                    font-family: $secondary-font;
                    color: $white;
                    font-size: 2em;
                    margin-top: 3em;
                    // margin-bottom: 2em;
                    // margin-left: 4.5em;
                    animation: fadeIn 2s linear;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width:750px) {
    .Footer {
        .container {
            padding: .1em;
            .row {
                .col {
                    .footerBrand {
                        margin-left: 1em;
                        width: 5em;
                        margin-bottom: 3em;
                    }
                }
                .col {
                    .morganFreeman {
                        width: 15em;
                        margin-top: 2em;
                        float: right;
                    }
                    .guyPearce {
                        width: 18em;
                        margin-top: 2em;
                        float: right;
                    }
                    .footerText {
                        font-family: $secondary-font;
                        color: $white;
                        font-size: 2em;
                        margin-top: 3em;
                        // margin-bottom: 2em;
                        // margin-left: 4.5em;
                        animation: fadeIn 2s linear;
                    }
                }
            }
        }
    }
}